body {
  margin: auto;
  text-align: center;
}

label {
  display: block;
}

img {
  max-width: 200px;
  max-height: 200px;
}

div.minibox {
/*  width: 200px;
  height: 200px;*/
  display: inline-block;
  /*background: white;*/
}
