<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Movie Finder</title>
    <link rel="stylesheet" href="style.css" media="screen" title="no title">
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
    </nav>
    <h1>Movie Finder</h1>
    <%= yield %>
  </body>
</html>






<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel = 'stylesheet' href = 'style.css'>
  <title>Movie Search</title>
</head>

<body>
<h1>Movie Search</h1>
  <form action="/about" method="get">
    <input type="text" name="movie" value="" placeholder = "Movie name to search for?">
    <button name="button">Search</button>
  </form>
  <p></p>

<%= yield %>


</body>
</html> -->
