<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles.css">
    <title></title>
  </head>
  <body>
    <table>
      <tr>
        <th>lead</th>
        <th>phone number</th>
      </tr>
      <%= @content %>
    </table>
  </body>
</html>
