<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Beach guests</title>
<link rel="stylesheet" href="/css/style.css" media="screen" title="no title">
  </head>
  <body>
    <h1>Beach house guest tracker</h1><br>

    <a href='/'>home</a><br>
    <a href='/guests/new'>new</a><br>

    <%= yield %>

  </body>
</html>
