<form  action="/guests" method="post">
  <label for="">Guest name</label>
  <input class = "name_input" type="text" name="name" >

  <label for="">Mobile number</label>
  <input class = "pnum_input" type="text" name="phone" >
  <button>Create</button>
</form>
