<form  action="/guests" method="post">
  <label for="">Guest name</label>
  <input type="text" name="name" >

  <label for="">Mobile number</label>
  <input type="text" name="phone" >

  <button>Create</button>
</form>
