
<form action="/find" method="get" class="home-search">
  <div class="search-box">
    <input name="movie" type="text" placeholder="Search movie title">
    <button><i class="fa fa-search" aria-hidden="true"></i></button>
  </div>
</form>
