<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="styles.css">
  <title>Document</title>
</head>
<body>
  <table>
    <% @leads.each do |lead| %>
      <tr>
        <td>
          <%= lead[0] %>
        </td>
        <td>
          <%= lead[2] %>
        </td>
      </tr>
    <% end %>
  </table>

</body>
</html>

