<form action="/diagrams" method="post">

  <label for="">name</label>
  <input name="name" type="text">

  <!-- <label for="">image_url</label> -->
  <!-- <textarea name="image_url" id="" cols="30" rows="10"></textarea> -->

  <label for="">Diagram Name</label>
  <select name="diagram_id" id="">
    <!-- # <% @diagram_list.each do |diagram_type| %> -->
    <option value="<%= diagram_type.id %s
  </select>

  <button>create</button>

</form>
