* {
  box-sizing: border-box;
  border-radius: .6em;
}

body {
  background-color: grey;
}

.search-box {
  display: float-left
  float: left;
  width: 15em;
  height: 15em;
  text-align: center;
  margin-top: 2em;
  margin: 0 auto;
  padding: 1em;
  background-color: snow;
  overflow: auto;
}

.result-box {
  margin: 2em auto;
  width: 70%;
  padding: 2em;
  background-color: snow;
  overflow: auto;
}

.banner{
  display: block;
  overflow: auto;
}

.title {
  display: block;
  text-align: center;
  float: left;
  width: 40%;
}

.clear {
  clear: both;
}

.movie-description {
  float: left;
  display: block;
  width: 60%;
  margin: 0 auto;
  padding: 1em;
  padding-top: 0;
  padding-left: 2em;
}

.poster {
  float: left;
  display: block;
  width: 40%;
  text-align: center;
}

img {
  width: 100%;
  max-width: 300px;
}

h2 {
  margin-top: 0;
}
