<form action ="/players" method="post">

  <label for="">player name</label>
  <input type="text" name="name" >

  <label for="">image</label>
  <textarea name="image_url" id="" cols="30" row="10"></textarea>

  <label for="">position</label>
  <input type="text" name="position" >

  <label for="">nationality</label>
  <input type="text" name="nationality" >

  <button>ADD PLAYER</button>
</form>
