body {
  color: white;
  background-color: black;
  font-family: "Comic Sans MS";
  font-size: 20px;
  text-align: center;
  margin:0 auto;
  width:80%;
}

h1, #cakes {
  font-size: 2em;
}

h2, #letters {
 font-size: 1.5em;
}

p {
  margin: -0.5em 0;
}

h3 {
  font-size: 1em;
}

#cakes, #word {
  letter-spacing: 0.25em;
}

#letters {
  text-decoration: line-through;
}

#word {
  font-size: 2.5em;
  text-decoration: underline;
}
