<a href="/videos/new">Add video</a>
<h2>Browsing all videos</h2>
<% @videos.each do |video| %>
  <div class="video">
    <div><%= video.title %></div>
    <div><%= video.description %></div>
    <div><%= video.genre %></div>
    <div><%= video.url %></div>
  </div>
<% end %>
