<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Memetube</title>
    <link rel='stylesheet' href='/stylesheets/main.css'>
  </head>
  <body>
    <header>
      <h1><a href="/">Memetube</a></h1>
      <p>No relation to YouTube. Maybe</p>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
