<a href="/">Back to list</a>

<h2><a href="<%= @video.url %>" target="_blank"><%= @video.title %></a></h2>
<dl>
  <dt>Description</dt>
  <dd><%= @video.description %></dd>
  <dt>Genre</dt>
  <dd><%= @video.genre %></dd>
</dl>
