<a href="/">Back to list</a>

<h2>Add new video</h2>
<form action="/videos" method="post">
  <label for="">Title</label>
  <input name="title" type="text" required>
  <label for="">URL</label>
  <input name="url" type="text" required>
  <label for="">Description</label>
  <input name="description" type="text">
  <label for="">Genre</label>
  <input name="genre" type="text">
  <button>Submit</button>
</form>
