#list {
  width:40%;
  margin-left: 40%;
  align-items: center;
}



/*http://api.giphy.com/?q=beagle&api_key=dc6zaTOxFJmzC&limit=10&offset=0

http://api.giphy.com/v1/gifs/search?q=funny+cat&api_key=dc6zaTOxFJmzC&limit=10&offset=20*/
