* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  background-color: #EEE;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  background-color: #FFF;
}

header {
  background-color: #386110;
  color: #FFF;
}

header a {
  color: #FFF;
}

a {
  color: #386110;
  text-decoration: none;
}

a:hover {
  color: #71b62e;
}

header,
main {
  padding: 10px 20px;
}

img {
  max-width: 100%;
}

.post {
  width: 25%;
  display: inline-block;
  vertical-align: top;
  border: 2px solid transparent;
  position: relative;
}

.post .caption {
  background-color: rgba(0, 0, 0, 0.5);
  color: #FFF;
  padding: 5px;
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.post:hover {
  border: 2px solid #71b62e;
}

.post:hover .caption {
  opacity: 1;
}

.post img {
  margin-bottom: -5px;
}

.post .caption:empty {
  padding: 0;
}

label {
  display: block;
  font-weight: bold;
}

button.delete {
  color: #386110;
  border: none;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  display: inline;
  font-size: inherit;
}

button.delete:hover {
  color: #71b62e;
}

footer {
  clear: both;
}
