* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  background-color: #EEE;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  background-color: #FFF;
}

header {
  background-color: #386110;
  color: #FFF;
}

header,
main {
  padding: 10px 20px;
}

.post {
  width: 25%;
  display: inline-block;
  vertical-align: top;
  border: 2px solid transparent;
  position: relative;
}

.post .caption {
  background-color: rgba(0, 0, 0, 0.5);
  color: #FFF;
  padding: 5px;
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.post:hover {
  border: 2px solid #71b62e;
}

.post:hover .caption {
  opacity: 1;
}

.post img {
  width: 100%;
  margin-bottom: -5px;
}
