/* here be awesome css */
@font-face {
    font-family: lucida;
    src:url(lucida.ttf);
}

body{
  font-family:lucida;
  background-color: lightgray;
  margin:0;
  line-height: 1.5em;
}

.wrapper{
  max-width: 1080px;
  margin:0 auto;
  background-color:white;
  padding:30px;
}

.main{
  max-width:700px;
  float:left;
  margin-right:50px;
}

h1{
  color:red;
  display:inline;
  font-weight: normal;
  padding-right: .5em;
}

h2{
  font-weight: normal;
}

span{
  color:gray;
}

/*NAVIGATION*/
nav{
  width:100%;
}

.menu{
    padding-top: .5em;
}

ul{
  padding:0;
  font-size: 0;
}

.menu li{
    display: inline-block;
    background-color: black;
    padding:15px 0;
    margin:0;
    color:white;
    width:16%;
    text-align: center;
    font-size: 16px;
    margin-right: 1px;
}


.posts li{
  line-height: 1em;
}

article a{
  color:red;
  float:right;
  margin-bottom: 2em;
  font-weight: bold;
}

article span{
  float:left;
  font-size:4em;
  color:lightgray;
  font-weight: lighter;
  line-height: 1;
  padding-right: 5px;
}

article p{
  color:gray;
}

aside p{
  color:darkgray;
}

hr{
  clear:both;
}

#ad{
  margin:.6em 0;
}

a{
    text-decoration: none;
    margin:0;
    color:white;
}

.date{
  color:lightgray;
  font-weight: normal;
}

img{
  max-width: 100%;
    height: auto;
}

h5{
    color:gray;
}

aside{
  width:260px;
  float:left;
}

#more{
  font-weight: bold;
  color:red;
  float:right;
  margin-bottom: 1.3em;
}

.posts a{
  color:red;
  padding-bottom: 2em;
}

footer{
  clear:both;
}

footer p{
  margin-top: 2em;
  color:lightgray;
  font-size:.8em;
}

.sitemap li{
  display: inline;
  font-size: .9em;
}

.sitemap a{
  color:red;
}
