
<div class="search-box" id="shadow">

<h1>Search Movie</h1>
<form class="text" action="/result" method="get">
  <input type="text" name="search_input">
  <button name="search_button">Search</button>
</form>

</div>
