
<div class="movie-box">

<h2>Search Movie</h2>
<form class="text" action="/result" method="get">
  <input type="text" name="search_input">
  <button name="search_button">Search</button>
</form>

</div>
