<!-- should be a page to submit unique artwork -->
<form action="/arts" method="post">
  <label for="">title of artwork</label>
  <input name="name" type="text">

  <label for="">artist</label>
  <input name="artist" type="text">

  <label for="">imageurl</label>
  <textarea name="imageurl" id="" cols="30" rows="10">

  </textarea>
  <button>SHARE</button>

</form>
