<form action="/secretnumber" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <button name="click" value="1">1</button>
  <button name="click" value="2">2</button>
  <button name="click" value="3">3</button>
  <button name="click" value="4">4</button>
  <button name="click" value="5">5</button>
  <button name="click" value="6">6</button>
  <button name="click" value="7">7</button>
  <button name="click" value="8">8</button>
  <button name="click" value="9">9</button>
  <button name="click" value="10">10</button>
</form>
