
<form action="/mountains/<%= @mountain['id'] %>" method="post">
  <input type="hidden" name="_method" value="PUT">
  <label for="">name</label>
  <input name="name" type="text" value="<%= @mountain['name'] %>">
  <label for="">image url</label>
  <textarea name="image_url" id="" cols="30" rows="10"><%= @mountain['image_url'] %></textarea>
  <button>save</button>
</form>
