<%= form_tag '/session',method: 'post' do %>

  <label for="">name</label>
  <input name="name" type="text" />
  <label for="">email</label>
  <input name="email" type="script" />
  <label for="">password</label>
  <input name="password" type="password" />
  <button>login</button>
<% end %>
