<section class="login">
  <%= form_tag '/login', method: 'post', class: 'login-form' do %>
    <input type="email" name="email" placeholder="email">
    <input type="password" name="password">
    <input type="submit" name="name">
  <% end %>
</section>
