<%= form_tag '/users', method: 'post' do %>
  <label for="">email</label>
  <input name="email" type="email">
  <label for="">password</label>
  <input name="password" type="password">
  <button>Sign up</button>
<% end %>