/* Cascading is inheritance.
.... remember who is the parent and the child. values multiply
so set at the base (body) the reset it at the actual use point */
/*use of * means everything on page, use only for this statement*/
* {
  box-sizing: border-box;
}
body{
font-size: 16px;
}
.wrapper{
font-family: sans-serif;
font-stretch: expanded;

}
h1{
  font-size: 46px;
  display: block;

}
.menu{
  display: block;
  text-decoration: none;
  background-color: black;
  color: white;
  font-size: 22px;
  margin: auto;
  padding: 35px;
}
ul {
  padding: o;
  /*this overflowsolves the float
  clear problem to position
  the following text properly*/
  overflow: hidden;
  font-size: 2em;
}
li{
  /*display: inline-block;*/
  width: 16.66666667%;
  /*box-sizing: border-box;*/
  float: left;
  border: 1px solid red;
  list-style: none;
  text-align: center;
}
h2{
  color: grey;
  display: inline-block;
  padding: 25px;
}
.title{
  display: inline-block;
  font-weight: bold;
  color: red;
}
.contin{
  float: right;
  font-weight: bold;
  color: red;
}
.adbox{
background-color: lightgrey;
padding: 30px;
margin: 40px;
width: 250px;
height: 120px;
color: darkgrey;
}
.more{
  float: right;
  font-weight: bold;
  color: red;
}
.posts{
  color: red;
  font-weight: bold;
}
.bottomnav{
  display: inline-block;
  float: left;
  text-decoration: none;
  color: red;

}
/*style the span property of
 the p or you could use
 p ::first-letter {} */

 /*this is a general thing you
 can use to define commonly
 used tags such as the li
 item belonging to the ul
 or the div belonging to the body */
p span {
  float: left;
  font-size: 4em;
  padding-right: 5px;
  line-height: 1;


}
span {
  /*refers to the other spans*/
}

a{
    border-right: 1px solid red;
    padding: 10px
}
.date{
  color: grey;
}
article{
  max-width: 900px;
  display: inline;
  float: left;
   border-bottom:1px solid black;
}
.firstaside{
  border-bottom: 1px solid black;
}
aside{
  max-width: 260px;
  display: inline;
  float: left;
  padding: 10px;
}
.foot{
  color: grey;
  padding: 10px;
  margin: 20px;
}
footer{
  display: inline-block;
}
