

<div class="login-page">
  <div class="form">

    <form action="/session" method="post" class="login-form">
      <p id="log-in-title">LOG IN</p>
      <label for="">Email</label>
      <input type="text" name="email">

      <label for="">Password</label>
      <input name="password" type="password">

      <button>Login</button>
    </form>
  </div>
</div>
