<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Movies
  style.
    body {
      width: 750px;
      margin: 0 auto;
      text-align: center;
    }
    img {
      width: 300px;
    }
body
  h1 Movie Info
  a(href="/") Home

  block content