<h1>Rock Paper Scissors</h1>

<a href="/games/rock_paper_scissors/rock"><button>rock</button></a>
<a href="/games/rock_paper_scissors/paper"><button>paper</button></a>
<a href="/games/rock_paper_scissors/scissors"><button>scissors</button></a>
