<h2>ADD NEW RECORD</h2>

<form class="" action="/crates" method="post">
  <label for="">Title</label>
  <input type="text" name="title" value="">
  <label for="">Artist</label>
  <input type="text" name="artist" value="">
  <label for="">Image URL</label>
  <textarea name="image_url" rows="8" cols="40"></textarea>
  <button>ADD RECORD</button>
</form>
