<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css" media="screen" title="no title">
    <title>CRATES</title>
  </head>
  <body>
    <div class="container">
      <h1 class="logo"><a href="/">CRATES</a></h1>



      <%= yield %>


    </div>
    <div class="add_new">
      <h3 class="fade2"><span>
      <a href="/crates/new">ADD NEW</a>
      </span> </h3>
    </div>
  </body>
</html>
