<div id='index_form'>
  <h1>Seach any movie</h1>
  <form action="/about" method='get'>
    <input placeholder="type a movie name" name='movie' type="text">
    <button>Search</button>
  </form>
</div>
