<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Bungee+Inline" rel="stylesheet">
  <title>JASONDB</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <%= yield %>
  <footer><a href="https://twitter.com/jasonpompon" class="twitter-follow-button" data-show-count="false">Follow @jasonpompon</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></footer>
</body>
</html>
