<form action="/games/result/<%= params[:throw] %>" method="get">
  <button name="p2" value="rock">rock</button>
  <button name="p2" value="paper">paper</button>
  <button name="p2" value="scissors">scissors</button>
</form>