
<div class="wrapper">
  <div class="search">
      <form action="/results" method="get">
        <input id="input" type="text" name="movies" value="" placeholder="Title Name..">
        <button id="button">Find Movie</button>
      </form>
  </div>
</div>
