
<!--Film Result Page -->

<!-- Message -->
  <p id="message"><%= @message %></p>

<!-- Image -->
<img src="<%#= @movie_poster %>" alt="" />


<!-- Movie Info -->
<ul class="results">
  <% @movie_results.each do |eachMovie| %>
    <li><a href="/about_single?banana=<%= eachMovie["imdbID"] %>"><%= eachMovie["Title"] %></a></li>
  <%  end %>
    </ul>

  <!-- Back Button -->
  <a href="/index"> BACK </a>
