<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head.ejs %>
</head>
<body>
  <% include ../partials/header.ejs %>

  <% if (response === "False") { %>
    <p>No movie found</p>
  <% } else { %>
    <div class="results">
      <% movies.forEach(function(movie) { %>
        <div class="result">
          <a href="/about/<%= movie.imdbID %>">
            <div class='img'>
              <img src=<%= movie.Poster %>>
            </div>
            <div class='details'>
              <p><%= movie.Title %></p>
              <p><%= movie.Year %></p>
            </div>
          </a>
        </div>
      <% }) %>
    </div>
  <% } %>

  <% include ../partials/footer.ejs %>
  <% include ../partials/scripts.ejs %>
</body>
</html>