<form action="/magic8ball" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input name="question" type="text">
  <button>ask</button>

</form>
