<div style="text-align: center">
  <h1><%= @message %></h1>
</div>
<div >
  <h3>User</h3>
  <%= image_tag(@user_throw, :angle => 180) %>
</div>
<div >
  <%= image_tag(@server_throw, :alt => "rss feed") %>
  <h3>Server</h3>
</div>
