<h2>All submissions</h2>
<div>
  <a href="/gifs/new">Create new post</a>
</div>
<% @gifs.each do |gif| %>
  <div class="post">
    <img src="<%= gif['image_url'] %>" alt="<%= gif['caption']%>" />
    <div class="caption"><%= gif['caption'] %></div>
  </div>
<% end %>
