<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ParrotDB</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div class="container">
      <header>
        <h1><a href="/">ParrotDB</a></h1>
        <div>No relation to MongoDB</div>
      </header>
      <main>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
