<h2>Submit post</h2>
<form action="/posts" method="post">
  <label for="">Image URL</label>
  <textarea name="image_url" id="" cols="30" rows="5"></textarea>
  <label for="">Caption</label>
  <input name="caption" type="text">
  <button>Create post</button>
</form>
