<h2>Edit post</h2>
<form action="/posts/<%= @post.id %>" method="post">
  <input type="hidden" name="_method" value="put" />
  <label for="">Image URL</label>
  <textarea name="image_url" id="" cols="30" rows="5"><%= @post.image_url %></textarea>
  <label for="">Caption</label>
  <input name="caption" type="text" value="<%= @post.caption %>">
  <button>Save changes</button>
</form>
