<h2> art new art </h2>

<form action="/collection" method="post">
  <label for="">artwork title</label>
  <input name="title" type="text">

  <label for="">artist name</label>
  <input name="artist" type="text">

  <label for="">image url</label>
  <textarea name="image_url" id="" cols="30" rows="10"></textarea>

  <button>art us</button>

</form>
