body {
  background: black;
  width: 80%;
  margin: 0 auto;
  color: white;
}

header {
  text-align: center;
  padding-top: 50px;
}

main {
  padding-top: 50px;
}

li:hover {
  color: red;
  cursor: pointer;
}

.movie {
  text-align: center;
}
