<%= @ans %>
<% num = 1 %>
<% if @ans == num %>
  <%= 'WIN' %>
<% else %>
  <%= 'LOOSE' %>
<% end %>


<a href="/secretnumber/1">1</a>
<a href="/secretnumber/2">2</a>
<a href="/secretnumber/3">3</a>
<a href="/secretnumber/4">4</a>
<a href="/secretnumber/5">5</a>
<a href="/secretnumber/6">6</a>
<a href="/secretnumber/7">7</a>
<a href="/secretnumber/8">8</a>
<a href="/secretnumber/9">9</a>
<a href="/secretnumber/10">10</a>
