<h1>Magic 8 ball</h1>

<form action="/games/answer" method= "post">

  <input type="hidden" name= "authenticity_token" value="<%= form_authenticity_token%>" />

  <label for="">question</label>
  <input name="question" type="text" />

  <button>Ask</button>

</form>

<%= @answer %>
