<h1> secret number</h1>

<form action="/games/secret_number" method= "post">

  <input type="hidden" name= "authenticity_token" value="<%= form_authenticity_token%>" />

  <label for="">Your choice</label>
  <input name="number" type="text" />

  <button>Ask</button>

</form>

<%= @result %>
