<!DOCTYPE html>
<html>
  <head>
    <title>NMS Lite</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="page-wrapper">
      <header>
        <h3><a href="/">NMS Lite</a></h3>
        <p><a href="/login">Log In</a></p>
        <p><a href="/signup">Sign Up</a></p>
      </header>
      <main>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
