body {
  width: 80%;
  margin: 0 auto;
  font: normal 16px Helvetica;
  padding: 30px;
}

header {
  text-align: center;
  color: red;
}

p {
  color: red;
  visibility: hidden;
}

header img {
  max-width: 80%;
}

section {
  text-align: center;

}

select {
  width: 100%;
  margin: 25px 0;
  padding: 15px;
  box-sizing: border-box;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid black;
}

.results ol {
  padding: 20px;
  margin-top: 0;
}

.find,
.swap {
  width: 100px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: #cc4f07;
  font-weight: bold;
}

.swap {
  background-color: #464667;
  color: white;
}

li {
  margin-bottom: 5px;
}

.results {
  background-color: #483232;
  width: 100%;
  color: white;
  text-align: left;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
}

small span {
  color: teal;
}

@media (min-width: 50em) {
  header {
    overflow: auto;
  }

  header img {
    width: 25%;
    float: left;
    margin-left: 100px;
  }

  header h1 {
    float: left;
    line-height: 4;
    padding-left: 20%;
  }

  select {
    width: 30%;
    margin: 0 2%;
  }

  .find,
  .swap {
    width: 80px;
    font-size: 16px;
  }

  section {
    padding-top: 50px;
    margin-bottom: 0;
  }

  .results {
    width: 90%;
    margin: 0 auto;
    padding: 20px 100px;
    box-sizing: border-box;

  }
}
