

 * {
     box-sizing: border-box;
 }
 html {
   font-family: "Lucida Sans", sans-serif;
 }

 body {
   width: 100%;
 }
 a {
   color: #FFFFFF;
 }
 .row::after {
     content: "";
     clear: both;
     display: block;
 }

 [class*="col-"] {
     float: left;
     padding: 15px;
 }


 .header {
   background-color: #082833;
   color: #ffffff;
   padding: 15px;
   text-align: center;
   font-family: 'Cherry Cream Soda', cursive;
 }
 .search-div {
   background-color: #082833;
   color: #3e86fc;
   padding: 5px;
   text-align: center;
 }

 .container {
  text-align: center;
  padding-top: 2em;
  padding-bottom: 4em;
   clear:both;
 }

 .container a{
   color: #173255;
 }

 .movie-title {
   text-align: center
 }

 .img-poster {
   max-width: 100%;
   height: auto;
 }

 .side-poster {
   text-align: center;
   box-sizing: border-box;
 }

 .list-item {
   text-align: center;
   font-size: 0.8em
 }

 .small-poster {
   text-align: center;
   box-sizing: border-box;
 }
 .smal-poster img{
   box-sizing: border-box;;
 }

 .search-description {
   text-align: center;
   height: 50px;
 }

 .movie-data {
   margin-top: 15px;
   background-color: rgba(58,85,115,0.5)
   padding-bottom: 0;
   padding-top: 0;
   color: #c2cc00;
 }

 .footer {
   background-color: #082833;
   color: #ffffff;
   text-align: center;
   font-size: 12px;
   padding: 15px;
   bottom: 0;
   width: 100%;
   position: fixed;
   clear: both;
 }

 #search-box {
   padding: 5px;
   font-size: 1.2em;
   border-radius: 12px;
 }

 /* For mobile phones: */
 [class*="col-"] {
     width: 100%;
 }

 @media only screen and (min-width: 600px) {
     /* For tablets: */
     .col-m-1 {width: 8.33%;}
     .col-m-2 {width: 16.66%;}
     .col-m-3 {width: 25%;}
     .col-m-4 {width: 33.33%;}
     .col-m-5 {width: 41.66%;}
     .col-m-6 {width: 50%;}
     .col-m-7 {width: 58.33%;}
     .col-m-8 {width: 66.66%;}
     .col-m-9 {width: 75%;}
     .col-m-10 {width: 83.33%;}
     .col-m-11 {width: 91.66%;}
     .col-m-12 {width: 100%;}

     .small-poster {
       text-align: center;
       height: 275px;
       max-width: 100%;
     }

     .img-poster {
       min-width: 171.75px;
       max-height: 330px;
       min-height: 255px;
     }

     .movie-data {
       color: #273700;
     }

     .footer {
       position: fixed;
     }
 }
 @media only screen and (min-width: 768px) {
     /* For desktop: */
     .col-1 {width: 8.33%;}
     .col-2 {width: 16.66%;}
     .col-3 {width: 25%;}
     .col-4 {width: 33.33%;}
     .col-5 {width: 41.66%;}
     .col-6 {width: 50%;}
     .col-7 {width: 58.33%;}
     .col-8 {width: 66.66%;}
     .col-9 {width: 75%;}
     .col-10 {width: 83.33%;}
     .col-11 {width: 91.66%;}
     .col-12 {width: 100%;}

     .small-poster {
       text-align: center;
       height: 150px;
       max-width: 100%;
     }

     .img-poster {
       max-width: 100%;
       max-height: 330px;
       min-height: 255px;
     }

     .movie-data {
       color: #273700;
     }

     .footer {
       position: fixed;

     }
 }
