<form class="new-entry" action="/trips" method="post" >
  <label for="">Name</label>
  <input name="name" type="text">

  <label for="">Image URL</label>
  <textarea name="image_url" rows="8" cols="40"></textarea>
  <button>Create</button>
</form>
