<%= @dish['name'] %>

<img src="<%= @dish['image_url'] %>" alt="" />

<a href="/trips/<%= @dish['id'] %>/edit">Edit</a>

<form action="/trips/<%= @dish['id'] %>/delete" method="post">
  <button>delete</button>
</form>
