<div class="header">
  <img src="https://www.barcodesinc.com/generator/image.php?code=Bar-Code&style=965&type=C128B&width=258&height=90&xres=2&font=3" alt="" />
  <h1>Movies</h1>
</div>
<div class="row"></div>

<div class="col-12 col-m-12 search-div">
  <form class="" action="/search" method="get">
    <input id="search-box" type="text" name="search_title" >
    <button>Search</button>
  </form>
</div>
