<div class="header">
  <h1>Edit User</h1>
  <h2>Update the details below</h2>
</div>

<div class="content">
  <%= form_tag user_path , method: 'post' , class:"pure-form pure-form-aligned" do %>
    <fieldset>
        <div class="pure-control-group">
            <label for="name">Name</label>
            <input id="name" name="name" type="text" placeholder="Username" value="<%= user.name %>">
        </div>

        <div class="pure-control-group">
          <label for="email">Email Address</label>
          <input id="email" name="email" type="email" placeholder="Email Address" value="<%= user.email %>">
        </div>

        <div class="pure-control-group">
            <label for="password">Password</label>
            <input id="password" name="password" type="password" placeholder="Password" >
        </div>


        <div class="pure-controls">
            <button class="pure-button pure-button-primary">Submit</button>
        </div>
    </fieldset>
  <% end %>
</div>
