<div class="header">
  <h1>Index ??</h1>

</div>
<div class="space"></div>
<div class="content">
  <style>
  .custom-restricted-width {
      /* To limit the menu width to the content of the menu: */
      display: inline-block;
      /* Or set the width explicitly: */
      /* width: 10em; */
  }
  </style>
  <div class="pure-menu custom-restricted-width">
      <span class="pure-menu-heading">Yahoo Sites</span>

      <ul class="pure-menu-list">
          <li class="pure-menu-item"><a href="#" class="pure-menu-link">Create new Star</a></li>
          <li class="pure-menu-item"><a href="#" class="pure-menu-link">Create new Planet</a></li>
          <li class="pure-menu-item"><a href="#" class="pure-menu-link">Create new Natural Satellite</a></li>
      </ul>
  </div>
</div>
