<%= form_tag '/planets', method: 'post' do %>
  <label for="">Name</label>
  <input name="name" type="text">
  <label for="">Color</label>
  <input name="color" type="color">
  <button>Create</button>
<% end %>
