// Place all the styles related to the planets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.planets_container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.planet_card {
  max-width: 300px;
  min-width: 300px;
  height: 460px;
  display: inline-block;
  margin: 2%;
  border-radius: 2%;
  background-color: grey;
  padding: 1%;
  -webkit-box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.75);
}

.planet_middle {
  position: relative;
  max-width: 100%;
  min-width: 100%;
  min-height: 300px;
  max-height: 300px;
}

.planet_image {
  width: 100%;
  height: 300px;
  min-height: 300px;
  max-height: 300px;
  z-index: 9;
  position: absolute;
  cursor: pointer;
}

.comments {
  background-color:rgba(255,255,255, 0.5);
  width: 100%;
  height: 300px;
  min-height: 300px;
  max-height: 300px;
  border-radius: 5px;
  z-index: 10;
  position: absolute;
  overflow-y: scroll;
  padding: 3%;
  display: none;
}

.comments_list {
  background-color:rgba(255,255,255, 0.5);
  width: 80%;
  margin: 0 auto;
}

.comment_image {

}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.left_box, .right_box {
  width: 49%;
  display: inline-block;
  vertical-align: top;
  margin: 0 auto;
}

img {
  max-width: 100%;
  padding-top: 12px;
}

#comment_img {
  max-width: 50%;
}

button {
  display: inline-block;
  width: 70px;
  height: 30px;
  border: none;
  background-color: #CACACA;
  font-size: 0.7em;
  font-weight: bold;
  border-radius: 5px;
  margin-left: 5px;
  margin-top: 5px;
  margin-right: 5px;
  cursor: pointer;
}

button:hover {
  background-color: white;
}

form {
  display: inline-block;
}

label {
  display: inline-block;
  width: 19%;
  text-align: left;
  font-size: 1.5em;
  padding: 2%;
}

input {
  display: inline-block;
  width: 80%;
  font-size: 1.5em;
  padding: 2%;
  border: none;
  border-bottom: 1px solid black;
}

textarea {
  background-color: rgba(255, 255, 255, 0.5)
}

h1 {
  text-align: center;
  color: black;
  font-weight: bold;
  text-decoration: underline;
}

h2 {

}

h5 {
  font-size: .75em;
  padding: 0;
  margin: 0;
  text-align: center;
}

p {
  text-align: left;
}
