/* here be awesome css */
body {
  background-color: white;
  padding: 20px;
  width: 1300px;
  color:black;
  margin: 0 auto;
  font-family: Helvetica;
}
h1 {
  font-weight: normal;
  font-size: 3em;
  color: red;
}

header span {
  font-size: 0.5em;
  color:grey
}

main span {
  float:left;
  font-size: 3em;
  color:grey;
  line-height: 1;
  padding-right: 5px;
}
header {
  padding: 0 020px;
}

nav {
  margin: 0 20px;
}

nav ul {
  overflow: hidden;
  background-color: black;
  color: white;
}

nav li {
  float:left;
  border-right: 1px solid #aaaaaa;
}

nav li:last-child {
  border-right: none;
}


nav li a {
  color: white;
  display: block;
  text-align: center;
  text-decoration: none;
  padding:24px 48px;
}
nav li a:hover {
  background-color: #aaaaaa;
}

ul {
  list-style-type: none;
  padding: 0 20px;
  margin: 0;
}


h2 {
  font-size:2em;
  font-weight: normal;
}

.date {
  color: #cccccc;
}

main {
}

.posts {
  display: inline-block;
  padding:20px;
  width: 900px;
}

aside {
  vertical-align: top;
  display: inline-block;
  padding: 20px;
  width: 200px;
}

aside ul {
  list-style-type: disc;
}

aside li {
  display: block;
}

footer p {
  padding: 20px;
}

a {
  display: block;
  font-weight: 900;
  color: red;
  text-align: right;
}

footer ul {
  overflow: hidden;
}

footer ul li a {
  color: black;
  display: block;
  text-align: center;
  text-decoration: none;
  padding:24px 48px;
}
footer ul a:hover {
  background-color: #aaaaaa;
}
