<img src="<%= @programminglanguage['icon_url'] %>">
<p><%= @programminglanguage['name'] %></p>
<p><%= @programminglanguage['description'] %></p>
<a href="/<%= @programminglanguage['name'] %>/edit">edit</a>