<form action="/" method="post">
  <label for="">programminglanguage name</label>
  <input name="name" type="text">
  <label for="">icon url</label>
  <textarea name="icon_url" id="" cols="30" rows="10"></textarea>
  <label for="">description</label>
  <textarea name="description" id="" cols="30" rows="10"></textarea>
  <button>add</button>
</form>