

<h3>What would you like to ask the magic 8 ball?</h3>

<form action="/games/magic_8_ball_result" method="get">
  <textarea name="question" rows="4" cols="50"></textarea>
  <button>submit</button>
</form>
