<h1>MOOVAY, the only movie database you will ever need</h1>
<img src="https://openclipart.org/image/2400px/svg_to_png/130297/movie-clapperboard.png" alt="" />
  <form action = "/get_movie" method="get">
    <h2>Please type in the name of the movie</h2>
    <input name="movie_name" type="text" >
    <button class= "btn">Get movie</button>

  </form>
<section>
  info about movie
<p>
  <%= @error %>

  <%= @movie_title %>
</p>
<p>
  <%= @movie_plot %>
</p>

</section>
