
<!DOCTYPE html>
<html lang = "en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css" media="screen" title="no title">
    <title>moovay</title>
  </head>
  <body>
    <!-- <h1>Movie Finder database</h1> -->
    <%= yield %>


    
    <footer>director kb, producer kb </footer>

  </body>
</html>
