<h2>Games of Rails</h2>
<ul>
  <li><a href="/games/eight_ball">8-ball</a></li>
  <li><a href="/games/secret_number">Secret number</a></li>
  <li><a href="/games/rock_paper_scissors">Rock, paper, scissors</a></li>
</ul>
