<!DOCTYPE html>
<html lang="en">
    <head>
        <title>My own OMDb</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <h1>Movie Search Engine</h1>
        <div id="div-form">
        <form action="/">
            <a href="/">HOME</a>
            <input name="title" type="text">
            <button>Search</button>
        </form>
        </div>

        <%= yield %>
    </body>
</html> 