<h2>Character Creation</h2>

<form action="/char/create" method="post">
  <label for="name">Name</label>
  <input name="name">
  <label for="race">Race</label>
  <input name="race">
  <label for="class">Class</label>
  <input name="class">
  <label for="fav_hat">Favourite Hat</label>
  <input name="fav_hat">
  <button>Create</button>
</form>
