<h1>Secret Number</h1>

<form action="/games/secret_number" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
  <input type="radio" name="guess" value="1"><label>1</label>
  <input type="radio" name="guess" value="2"><label>2</label>
  <input type="radio" name="guess" value="3"><label>3</label>
  <input type="radio" name="guess" value="4"><label>4</label>
  <input type="radio" name="guess" value="5"><label>5</label>
  <input type="radio" name="guess" value="6"><label>6</label>
  <input type="radio" name="guess" value="7"><label>7</label>
  <input type="radio" name="guess" value="8"><label>8</label>
  <input type="radio" name="guess" value="9"><label>9</label>
  <input type="radio" name="guess" value="10"><label>10</label>
  <button>Guess</button>
</form>
