<header class="slideUp">
  <h1> FIND ME THAT MOVIE </h1>
  <form action="/search" method="post">
    <input name="search" type="text" placeholder="search movie title..."><button></button>
  </form>
</header>

<div class="about">

  <img class="main" src="<%= @poster %>">

  <table>

    @title = @info["Title"]

      <tr>
        <th><%= @info.keys[0] %><s/th><br>
        <td><%= value %></td>
      </tr>
      <% end %>
    <% end %>
  </table>
</div>
