<h2>rock paper scissors</h2>
<a href="/">home</a>

<p><a href="/rock_paper_scissors/rock">rock</a></p>
<p><a href="/rock_paper_scissors/paper">paper</a></p>
<p><a href="/rock_paper_scissors/scissors">scissors</a></p>
