<h2>rock paper scissors</h2>
<a href="/">home</a>

<p>Your move: <%= @player_move %></p>
<p>Computer move: <%= @selected_move %></p>
<p>You win!</p>

<p><a href="/rock_paper_scissors">try again</a></p>
