<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Movie Database</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <main>
      <h1>Movie Database</h1>
      <form action="/">
        <label for="title">Title</label>
        <input id="title" name="query" type="text" value="<%= @query %>">
        <button>Search</button>
      </form>
      <%= yield %>
      <footer>
        Made using <a href="http://www.omdbapi.com/" target="_blank">OMDb API</a>
      </footer>
    </main>
  </body>
</html>
