<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="styles.css">
  <title>Movies</title>
</head>
<body>

  <header>
    <h1>Movies</h1>
    <a class="nav" href="/">Home</a>
    <a class="nav" href="/about">About</a>
  </header>

  <main>
    <%= yield %>
  </main>
  
</body>
</html>
