<p id="not-found">Movie not found, please try again.</p>

<form action="/result" method="post">

  <input name="title" type="text" placeholder="Enter movie title">
  <button>press here to get the info</button>

</form>
