<section>
  <% @results.each do |result|%>
    <p class="result">
      <a href="/movie_info?id=<%= result["imdbID"] %>">
        <%= result["Title"] %> <span>(<%= result["Year"]%>)</span>
      </a>
    </p>
  <% end %>
</section>
