<%= form_tag '/planets', method: 'post' do %>
  <label for="">Name</label>
  <input type="text" name="name">
  <label for="">Photo URL</label>
  <input type="text" name="photo_url">
  <label for="">Distance from the Sun</label>
  <input type="text" name="distance_sun">
  <label for="">Volume</label>
  <input type="text" name="volume">
  <label for="">Density</label>
  <input type="text" name="density">
  <button>Submit</button>
<% end %>