<!-- form for helper - look up ruby docs -->
<!-- always for a resources like dishes, planets, comments -->

<h1>Create New Planet </h1>

<%= render 'form', planet: @planet %>  <!-- renders the _form.html.erb file -->

<!-- sets up a local variable called planet and passes through the current planet object -->
