* {
  box-sizing: border-box;
}

body {
  padding: .5em;
  max-width: 1120px;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

div.session {
  float: right;
  text-align: right;
}

div.planet {
  display: inline-block;
  vertical-align: top;
  border: solid 1px black;
  padding: 1em;
  margin: 1em;
  width: 15em;
}

img {
  margin: 1em 0;
  width: 100%;
}

div.delete-button {
  float: right;
}

label {
  display: block; 
}

.show-page, .new-page, .edit-page {
  display: none;
}