<link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">

body{
  width:600px;
  margin: 0 auto;
}

.banner{
  background-color: #b3b4b6;
  width:100%;
  padding:5%;
}

.slogan{
  color:white;
  font-family:'Slabo 27px', serif;
  font-size: 30px;
}

.nav{
  min-height: 40px;
  float:left;
  margin-right: 20px;
  width: 130px;
  background-color:#fc0;

}
.nav ul {
  list-style-type: none;
  margin:0;
  padding: 0;
  display: inline-block;
}
.nav li{
  float:left;
}
