<header class="slideUp">
  <h1> FIND ME THAT MOVIE </h1>
  <form action="/about" method="get">
    <input name="title" type="text" placeholder="search movie title..."><button></button>
  </form>
</header>

<div class="about">

  <img src="<%= @poster %>">

  <table>

    <% @info.each do |key, value| %>
      <% if key != "Poster" %>
      <tr>
        <th><%= key %><s/th><br>
        <td><%= value %></td>
      </tr>
      <% end %>
    <% end %>
  </table>
</div>
