<div class="entrance">
  <h1> FIND ME THAT MOVIE </h1>
  <form action="/about" method="get">
    <input name="title" type="text" placeholder="search movie title..."><button></button>
  </form>
</div>
