<h2>secret number</h2>
<a href="/">home</a>

<form action="/secret_number" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <button name="button" value="1">1</button>
  <button name="button" value="2">2</button>
  <button name="button" value="3">3</button>
  <button name="button" value="4">4</button>
  <button name="button" value="5">5</button>
  <button name="button" value="6">6</button>
  <button name="button" value="7">7</button>
  <button name="button" value="8">8</button>
  <button name="button" value="9">9</button>
  <button name="button" value="10">10</button>
</form>
