/*Styling the headers*/
h1 {
  color: red;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 100;
  display: inline;
  margin: 50px 10px 5px 40px;
  padding-top: 100px;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
  font-weight: lighter;
  margin: 10px auto;
}

h3 {
  color: lightgrey;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 100;
  display: inline;
  padding-left: 15px;
  margin:auto;
}

h4 {
  color: lightgrey;
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
  font-weight: lighter;
  margin-bottom: 10px;
}

/*Styling the nav bar*/
#topnav ul li {
  display: inline-block;
  color: white;
  background-color: black;
  padding: 15px 43px;
  font-weight: 100;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  border-left: 1px solid white;
  width: 16.66666.7%;
}

#topnav ul {
  margin-top: 5px;
  font-size: 0;
}

#botnav ul li {
  display: inline-block;
  padding: 0px 4px;
  font-weight: 100;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  border-right: 1px solid grey;
}

#botnav ul {
    text-align: left;
    padding-left: 0;
    line-height: 1.5;
}

/*layouts*/
#wrap {
  width: 960px;
  margin: 0 auto;
}

.clear {
  clear: both;
}

.leftlay {
  float: left;
  max-width: 60%;
  margin-left: 40px;
}

.leftlay article {
  border-bottom: 1px solid lightgrey;
  margin-bottom: 30px;
}

.rightlay {
  float: left;
  max-width: 25%;
  margin-left: 50px;
}

.bimage img {
  max-width: 100%;
  max-height: 100%;
}

footer {
  margin-left: 40px;
}

a {
  text-decoration: none;
  color: red;
}

span a {
  font-weight: bold;
}

.para1 p span, .para2 p span {
  text-align: right;
}

.AD {
  color: grey;
  font-size: 50px;
  background-color: lightgrey;
  text-align: center;
  padding: 30px 40px;
  font-weight: bold;
  margin-bottom: 30px;
}

.rightlay article {
  margin-top: 50px;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 30px;
  padding-bottom: 20px;
  color: grey;
}

.bigletter {
  float: left;
  font-size: 70px;
  padding-right: 5px;
  line-height: 0.9;
  color: lightgrey;
  font-weight: 100;
  font-family: 'Source Sans Pro', sans-serif;
}

.outlinks {
  border-top: 1px solid lightgrey;
  margin-top: 30px;
}

.para article p span a {
  text-align: right;
}
