<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/about.css">
  <title>Document</title>
</head>
<body>

  <div class="about-one">
    <section class="opening">
      <h1>About Search.Film</h1>

      <div class="about-header">
        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum quidem accusantium nostrum ipsa cum recusandae nihil, repudiandae harum unde vero dolorem, animi possimus! Vero et, illo recusandae autem debitis voluptatibus!</h3>
      </div>
    </section>
  </div>

  <div class="about-two">
    <section>
      <div class="how-to" id="left">
        <img src="https://maxcdn.icons8.com/windows8/PNG/512/Very_Basic/search-512.png" alt="">
        <h3>Search It</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia natus in alias consequatur animi cum nobis.</p>

      </div>
    </section>

    <section>
      <div class="how-to" id="right">
        <img src="http://freeflaticons.com/wp-content/uploads/2014/10/binoculars-14144921348g4nk.png" alt="">
        <h3>Find It</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia natus in alias consequatur animi cum nobis.</p>

      </div>
    </section>
  </div>

  <footer>
    <h2>Contact Us</h2>
    <a href="mailto:joe@example.com?subject=feedback">contact@search.film</a>
  </footer>
  
</body>
</html>
