<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/style.css">
  <title>Movie Search</title>
</head>
<body>

  <header>
    <nav>
      <ul>
        <h3 id="logo">Search.<span>Film</span></h3>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>
  </header>

  <%= yield %>

</body>
</html>
