* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: sans-serif;
  background-image: url('http://i.imgur.com/Tumrl9M.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #FFF;
  margin: 0;
}

main {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  max-width: 960px;
  margin: 0 auto;
}

a {
  color: #FFF;
}

footer {
  margin-top: 10px;
  padding: 10px 0px;
  border-top: 1px solid #333;
}

button,
input {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #333;
  color: #FFF;
  font-size: 1em;
  padding: 5px 10px;
}

label,
dt {
  font-weight: bold;
}

dd {
  margin-left: 20px;
}

.title {
  text-align: center;
}

.poster {
  margin-left: 20px;
  float: right;
}

@media (max-width: 720px) {
  main {
    padding: 0;
  }

  .poster {
    display: block;
    float: none;
    margin: 0 auto;
    width: 100%;
  }

  input {
    width: 100%;
  }
}
