<h2>Log in</h2>

<form action="/session" method="post">
  <label for="">Username:</label>
  <input type="text" name="username">

  <label for="">Password:</label>
  <input name="password" type="password">

  <button>Log in</button>
</form>
