<h1>Guess a number between 1 and 10</h1>

<form class="" action="/result" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <input type="number" name="number" value="">
  <button>Guess!</button>

</form>

<a href="/">Game Menu</a>
