<form action="/galaxies" method="post">
  <label for="">name</label>
  <input name="name" type="text">

  <label for="">image url</label>
  <textarea name="image_url" rows="8" cols="40"></textarea>

  <label for="">description</label>
  <textarea name="description" rows="8" cols="40"></textarea>

  <button>create</button>
</form>
