<%= form_tag('/session/new', method: :post) do %>
  <label>username</label>
  <input name="username" type="text">
  <label>password</label>
  <input name="password" type="password">
  <input type="submit">
<% end %>
