
<!DOCTYPE html>
<html lang = "en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>moovay</title>
  </head>
  <body>

    <h1>MOOVAY, the only movie<br>
       database you will ever need</h1>
    <img src="https://openclipart.org/image/2400px/svg_to_png/130297/movie-clapperboard.png" id = "clapper" alt="" />

    <%= yield %>



    <footer>director kb, producer kb </footer>

  </body>
</html>
