<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>HB Recipes</title>
</head>
<body>
  <h1>HB Recipes</h1>
  <nav>
    <a href="/">home</a>
    <a href="/new">new recipe</a>
  </nav>
  <%= yield %>
</body>
</html>
