<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/style.css">
  <title>HB Recipes</title>
</head>
<body>
  <h1>HB Recipes</h1>
  <nav>
    <a href="/">home</a>
    <a href="/new">new recipe</a>
  </nav>
  <%= yield %>
  <img src="http://image.spreadshirtmedia.com/image-server/v1/compositions/1001037905/views/1,width=190,height=190,appearanceId=4,version=1452254899.png/beer-8bit_design.png" alt="beer">
</body>
</html>
