<h2>new recipe</h2>

<form action="/new" method="post">
  <p>Name</p><input name="name" type="text">
  <p>Style</p><input name="style" type="text">
  <p>Grain Bill</p><input name="grain_bill" type="text">
  <p>Mash Temp</p><input name="mash_temp" type="text">
  <p>Mash Time</p><input name="mash_time" type="text">
  <p>Hop Additions</p><input name="hop_additions" type="text">
  <p>Ferment Temp</p><input name="ferment_temp" type="text">
  <p>Original Gravity</p><input name="osg" type="text">
  <p>Final Gravity</p><input name="fsg" type="text">
  <p>ABV</p><input name="abv" type="text">
  <p>Comments</p><textarea name="comments" cols="30" rows="10"></textarea>
  <button>clicky clicky</button>
</form>
