* {
  box-sizing: border-box;
}

body {
  background-color: grey;
  font-family: 'Roboto', sans-serif;
}

.search-box {
  display: float-left
  float: left;
  width: 25em;
  height: 12em;
  text-align: center;
  margin-top: 2em;
  margin: 0 auto;
  padding: 1em;
  background-color: snow;
  overflow: auto;
  margin-top: 5em;
  border-radius: .6em;
}

.result-box {
  margin: 2em auto;
  width: 70%;
  max-width: 40em;
  padding: 2em;
  background-color: snow;
  overflow: auto;
  border-radius: .6em;
}

.title {
  display: block;
  text-align: center;
  float: left;
  width: 40%;
}

.movie-description {
  float: left;
  display: block;
  width: 60%;
  margin: 0 auto;
  padding: 1em;
  padding-top: 0;
  padding-left: 2em;
}

.poster {
  float: left;
  display: block;
  width: 40%;
  text-align: center;
}

#shadow {
  -webkit-box-shadow: 7px 7px 7px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 7px 7px 7px -4px rgba(0,0,0,0.75);
  box-shadow: 7px 7px 7px -4px rgba(0,0,0,0.75);
}

.thumb {
  width: 1.2em;
}

input, button {
  font-size: 1.3em;
  text-align: center;
  border-radius: .2em;

}

img {
  width: 100%;
  max-width: 300px;
  border-radius: .6em;
}

h1, h2, h3 {
  font-family: 'Oswald', sans-serif;
}

h1 {
  margin-top: .9em;
  margin-bottom: .4em;
}

h2 {
  margin-top: 0;
}

h3 {
  margin-bottom: .3em;
}

b {
  font-weight: bold;
}

a {
  color: black
}
