body {
  text-align: center;
  font-family: sans-serif;
}

img {
  height: 10%;
  width: 10%;
  display: inline-block;
}

#wrapper {
  width: 40%;
  margin: auto;
  padding-top: 40px;
}

nav {
  margin: 25px;
}

nav a {
  text-decoration: none;
  background-color: darkgreen;
  color: white;
  padding: 25px;
  width: 20%;
}

nav a:hover {
  background-color: mintcream;
  color: black;
}

button {
  border: 1px solid black;
  background-color: darkgreen;
}

button:hover {
  background-color: mintcream;
  color: black;
}

#box1 {
  width: 30%;
  height: 30%;
  background-color: mintcream;
  border: 2px solid black;
  margin: 0 auto;
  float: left;
  padding: 2em;
}

#box2 {
  width: 30%;
  height: 30%;
  background-color: mintcream;
  border: 2px solid black;
  margin: 0 auto;
  float: right;
  padding: 2em;
}

.savcurrency {
  font-size: 2em;
  padding: 10px;
}

.depcurrency {
  font-size: 2em;
  padding: 10px;
}
