
<div class="search">
    <form action="/about" method="get">
      <input id="input" type="text" name="movies" value="" placeholder="Title Name..">
      <button id="button" name="button">Find Movie</button>
    </form>
</div>
