<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Abhaya+Libre" rel="stylesheet">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="wrapper">
    <nav>
        <p id="title">Movie Search</p>
    </nav>
      <%= yield %>

    <footer></footer>
  </div>
  </body>
</html>
