<h2 id="subtitle">All my beautiful latte art</h2>

<% @cafes.each do |cafe| %>

  <div class="coffee-card">
    <p><%= cafe.name %></p>
    <img class="main-image" src="<%= cafe.image_url %>" alt="">
  </div>


<% end %>
