<%= form_tag '/cafes', method: 'post' do  %>

  <label for="">Name</label>
  <input name='name' type="text">

  <label for="">Image URL</label>
  <input name='image_url' type="text">

  <button>create</button>

<% end %>
